:root{
    --primary-color: #0f0f0f; 
    --white-color: #fff;
    --purple-color: #640257;
    --gap: 3rem;
}

/* Elementos HTML */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    color: var(--primary-color);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
    text-transform: capitalize;
}

h4 {
    font-size: 4.5rem;
    text-transform: capitalize;
}

h5 {
    font-size: 4rem;
    text-transform: capitalize;
}

h6 {
    font-size: 3.5rem;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: var(--gap);
    word-break: break-all;
    font-size: 2.1rem;
}

/* Classe */
.margin {
    display: absolute;
    justify-content: center;
    align-items: center;
}

.content, .content-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 var(--gap)

}

.main-content {
    max-width: 120rem;
    margin: 0, auto;
    padding: var(--gap)
}

.section {
    min-height: 100vh;
}

.hero {
    padding-top: 10rem;
    background-image: url('imagens/bg.gif');
    color: var(--white-color);
    background-size: cover;
    background-position: center center;
    border-bottom: 0.1rem solid var(--purple-color);
}


/* Menu do meu site */
.menu {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--purple-color);
    z-index: 10;

}

.menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap);
}

.menu img {
    height: auto;
    width: 15rem;
    transition: all 350ms ease-in-out;
}

.menu img:hover{
    transform: scale(1.1);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
    position: relative;
    transition: all 200ms ease-out;
}

.menu ul li a::after{
    content: '';
    background: var(--white-color);
    position: absolute;
    width: 0;
    bottom: 0.2rem;
    left: 50%;
    height: 0.2rem;
    transition: all 200ms ease-out;
}

.menu ul li a:hover{
    transform: scale(1.2);
    color: var(--purple-color);
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.spacing {
    height: 10rem;
}

.content, .content-img{
    display:flex;
    flex-flow:column;
    justify-content: center;
    padding: 0 var(--gap);
    max-width: 480px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    position: relative;
    height: 100vh;
    gap: var(--gap);
    top: 3rem;
    padding: 6rem
}

.content h2 {
    margin-bottom: 2rem;
    line-height: 1.2rem;
}

.content-img img {
    max-width: 480px;
    width: 100%;
    animation: bobbingAnim 4s infinite;
}

@keyframes bobbingAnim {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 
    50% {
        transform: translate(0px, -48px);
        animation-timing-function:ease-in-out
    }
 
    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 }

.title {
    font-size: 5rem;
    padding: 3rem;
    text-align: center;
    color: var(--white-color);
}

.title::first-letter{
    font-style: italic;
}

.about {
    padding: 9rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-bottom: 0.1rem solid var(--purple-color);
    text-align: center;
}

.groupcolumns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about .content{
    z-index: 1;
    padding: 2rem;
}

.about h3{
    transition: all 350ms;
}

.about h3::first-letter{
    position: absolute;
    top: -4rem;
    left: -2rem;
    font-size: 8rem;
    transform: rotate(5deg);
    font-style: italic;
}

.about .content h3:hover{
    transform: scale(1.1);
}


.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: url('imagens/endless-constellation.svg');
    border-bottom: 0.1rem solid var(--purple-color);
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.icons img{
    width: 200px;
    padding: 4rem;
    transition: all 150ms ease-in-out;
}

.icons img:hover{
    transform: scale(1.5);
}

.galeria {
    padding: 2rem;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid var(--purple-color);
}

.galeria .imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.galeria .imagens li {
    justify-content: center;
    align-items: center;
}

.galeria img {
    max-width: 512px;
    width: 100%;
    padding: 3rem;
    transition: all 250ms ease-in-out;
}

.galeria img:hover{
    transform: scale(1.1);
    translate:calc(20px);
}

.certificates {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-image: url('imagens/endless-constellation.svg');
}

.certificates ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.certificates li{
    display: flex;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    min-height: 256px;
}

.certificates .retangle {
   display: flex;
   flex: 1;
   padding: 2rem;
   background-color: var(--primary-color);
   border-radius: 1rem;
   color: var(--white-color);
   justify-content: center;
   align-items: center;
}

.certificates .retangle img{
    height: 150px;
    width: 180px;
    border-radius: 15%;
    transition: all 250ms ease-in-out;
    padding: 2rem;
    align-items: center;
}

.certificates .retangle h6{
    text-align: left;
    flex: 1;
    padding: 1rem;
}

.certificates .retangle p{
    text-align: left;
    font-size: 2rem;
    padding: 1rem;
    flex: 1;
}

.certificates .retangle .colunas{
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.certificates .retangle img:hover{
    transform: scale(1.15);
}



@media screen and (max-width: 750px) {
    .skills, .galeria{
        flex-direction: column;
    }

    .about {
        padding: 3rem;
    }


    .galeria img:hover{
        transform: scale(1);
        translate:calc(0px);
    }

    .icons img:hover{
        transform: scale(1);
    }

    .certificates .retangle img:hover{
        transform: scale(1.0);
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-content img {
        justify-content: center;
    }

    .menu img:hover{
        transform: scale(1.0);
    }
}



